<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>☺</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">Show my tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">List projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                {% for item in show_project|slice:"1" %}
                    <h1>{{ item.project.name }}</h1>
                    <p>{{ item.project.description }}</p>
                {% endfor %}
                <h2>Tasks</h2>
                <a href="{% url 'create_task' %}">Create a new task</a>
                {% if show_project|length == 0 %}
                    <p>This project has no tasks</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in show_project %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.assignee }}</td>
                                    <td>{{ project.start_date }}</td>
                                    <td>{{ project.due_date }}</td>
                                    <td>{{ project.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>
